# C++ build outputs
*.o
*.obj
*.a
*.so
*.lib
*.out

# Executables
*.exe
*.app

# Build directories
build/
cmake-build-*/
Debug/
Release/
bin/

# IDE and editor files
.vscode/
.idea/
*.suo
*.sln
*.vcxproj*
*.user
.DS_Store
